@import './mixins';

.contact-content {
	// @include container-content(column);
	width: 100%;

	.email-submitted {
		color: green;
		font-size: small;
		margin-top: 1rem;
		width: 100%;
	}
	.contact-form {
		// display: flex;
		// flex-direction: column;
		// width: 40rem;
		width: 100%;
		.form-item-container {
			margin-bottom: 1rem;
			margin-top: 1rem;
			width: 100%;

			.input-label {
				display: block;
				margin-bottom: 10px;
				width: 100%;
				color: white;
				font-size: large;
			}

			.input-field {
				font-family: 'Inter', sans-serif;
				background-color: #18191e;
				border-style: solid;
				border-color: #33353f;
				color: gray;
				font-size: medium;
				padding: 10px;
				border-radius: 5px;
				width: 100%;
				// box-shadow: none;
				::placeholder {
					color: #9ca2a9;
				}
			}
		}
		.submit-button {
			color: white;
			background-color: #9ca2a9;
			font-size: large;
			padding: 1rem;
			// width
			// width: 40rem;
			border-radius: 5px;
		}
	}
}
