.nav {
	font-family: 'Inter', sans-serif;
	display: flex;
	justify-content: space-between;
	.nav-toggle {
		display: flex;
		gap: 2rem;
	}
	.nav-button {
		font-size: x-large;
		padding: 3px 8px;
		color: rgb(120, 196, 190);
		&:hover {
			color: rgb(109, 177, 171);
		}
	}
}
