@import './mixins';

.skills-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5rem;

	.skills-list-column {
		.skills-list-title {
			text-align: center;
		}
		.skills-list {
			margin: 1rem;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1rem;

			.skills-list-item {
			}
		}
	}
}
