@import './mixins';

.work-content {
	@include container-content(column);
	width: 80%;
	.work-item {
		width: 100%;
		margin-bottom: 2rem;
		.work-header {
			display: flex;
			justify-content: space-between;

			.work-header-left {
				display: flex;
				gap: 1rem;
			}

			// .project-header-right {
			// }
		}
	}
}
